
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    display: flex;
    overflow: hidden;
}

.chat-window {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 600px;
    background-color: #f9f9f9;
    border: 2px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.chat-header {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
}

.profile-picture {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.chat-area {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex-grow: 1;
    overflow-y: auto;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
    font-size: 14px;
}

.notification {
    color: rgb(100, 100, 255);
}

.message {
    margin-top: 5px;
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    justify-items: flex-start;
    align-items: flex-start;
    /* background-color: darkblue; */
}
.username {
    width: 110px;
    height: fit-content;
    font-weight: bold;
    /* background-color: aquamarine; */
}
.messageContent {
    flex-grow: 1;
    /* background-color: burlywood; */
}

#userInput {
    resize: none;
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    justify-self: flex-end;
    box-sizing: border-box;
}